.Car {
	border: 1px solid grey;
	padding-bottom: 15px;
	box-shadow: rgb(65 65 65 / 55%) 1px 2px 6px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.input {}

.input:active, .input:focus {
	outline: none;
}

.input.red {
	border: 2px solid red
}

.input.green {
	border: 2px solid green
}

input.bold {
	font-weight: bold;
	border: 3px solid green
}